html,
body {
    height: 100%;
}

#pjax-chat-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

/*.sidebar-header a {*/
    /*color: #efe35b;*/
    /*font-size: 14px;*/
    /*margin-top: 3px;*/
    /*margin-right: 5px;*/

/*}*/

/*.chat-main .chat-left, .chat-header .chat-left-header {*/
    /*width: 500px;*/
    /*height: 100%;*/
/*}*/

/*.chat-header {*/
    /*display: flex;*/
    /*height: 7%;*/
/*}*/

/*.chat-header .chat-left-header {*/
    /*background: #4f84a7;*/
    /*display: flex;*/
    /*align-items: center;*/
/*}*/

/*.chat-header .chat-right-header .profile-block ul {*/
    /*background: #417592;*/
/*}*/

/*.chat-header .navbar-nav li a,*/
/*.chat-header .navbar-nav li > a:hover{*/
    /*color: #fff;*/
    /*background: #417592;*/
/*}*/

/*.chat-right-header {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*width: 100%;*/
/*}*/

/*.chat-right-header {*/
    /*background-color: #717171;*/
/*}*/

/*.chat-center-messages .no-partner {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 30%;*/
    /*font-size: 3rem;*/
/*}*/

/*.partner-info {*/
    /*color: #fff;*/
    /*!*width: 50%;*!*/
    /*display: flex;*/
    /*align-items: center;*/
    /*margin-left: 20px;*/
/*}*/

/*.partner-info img {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*float: left;*/
    /*margin: 1rem 1rem 1rem 0;*/
/*}*/

/*.partner-info .partner-description .partner-name {*/
    /*color: #efe35b;*/
/*}*/

/*.profile-block {*/
    /*background: #417592;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 34rem;*/
/*}*/

.chat-right-header-center {
    display: flex;
    align-items: center;
    justify-content: inherit;
    width: inherit;
}

.info-btn {
    margin: 10px;
    cursor: pointer;
}

.message-time {
    text-align: right;
}
